name: Release & Publish

on:
    push:
        branches: ["main"]

permissions:
    contents: write
    packages: write
    id-token: write

jobs:
    release:
        name: Publish to NPM & GitHub Release
        environment: production
        runs-on: ubuntu-latest

        steps:
            - name: Checkout
              uses: actions/checkout@v4
              with:
                  fetch-depth: 0

            - name: Install Bun
              uses: oven-sh/setup-bun@v1
              with:
                  bun-version: "latest"

            - name: Install Git LFS
              run: |
                sudo apt-get install git-lfs
                git lfs install
                git lfs pull

            - name: Install dependencies
              run: bun install --retry=5

            - name: Compile CLI tool
              run: bun run compile

            - name: Build project
              run: bun run build

            - name: Configure Git
              run: |
                  git config user.name "github-actions[bot]"
                  git config user.email "41898282+github-actions[bot]@users.noreply.github.com"

            - name: Read version from package.json
              id: pkg
              run: |
                  VERSION=$(jq -r '.version' package.json)
                  echo "VERSION=$VERSION" >> $GITHUB_ENV
                  echo "Detected version: $VERSION"

            - name: Delete tag if exists
              run: |
                  git tag -d "v$VERSION" || true
                  git push --delete origin "v$VERSION" || true

            - name: Create and push tag
              run: |
                  git tag "v$VERSION"
                  git push origin "v$VERSION"

            - name: Setup Node for Publish
              uses: actions/setup-node@v4
              with:
                node-version: 20
                registry-url: https://registry.npmjs.org/
                always-auth: true
                token: ${{ secrets.NPM_TOKEN }}
            
            - name: Configure NPM registry & token
              run: |
                  npm config set @naufalhanif:registry https://registry.npmjs.org/
                  npm config set //registry.npmjs.org/:_authToken ${{ secrets.NPM_TOKEN }}

            - name: Check NPM username
              run: npm whoami

            - name: Publish to NPM
              run: npm publish --registry https://registry.npmjs.org/

            - name: Read release notes from CHANGELOG.md
              id: release_notes
              run: |
                NOTES=$(cat CHANGELOG.md)
                echo "RELEASE_BODY<<EOF" >> $GITHUB_ENV
                echo "$NOTES" >> $GITHUB_ENV
                echo "EOF" >> $GITHUB_ENV

            - name: Create GitHub Release
              uses: softprops/action-gh-release@v2
              with:
                  tag_name: "v${{ env.VERSION }}"
                  name: "v${{ env.VERSION }}"
                  body: ${{ env.RELEASE_BODY }}
