name: Release & Publish

on:
    push:
        branches: ["main"]

permissions:
    contents: write
    packages: write
    id-token: write

jobs:
    release:
        name: Publish to NPM & GitHub Release
        environment: production
        runs-on: ubuntu-latest

        steps:
            - name: Checkout
              uses: actions/checkout@v4
              with:
                  fetch-depth: 0

            - name: Install Bun
              uses: oven-sh/setup-bun@v1
              with:
                  bun-version: "latest"

            - name: Install Git LFS
              run: |
                sudo apt-get install git-lfs
                git lfs install
                git lfs pull

            - name: Install dependencies
              run: bun install --retry=5

            - name: Compile CLI tool
              run: bun run compile

            - name: Build project
              run: bun run build

            - name: Configure Git
              run: |
                  git config user.name "github-actions[bot]"
                  git config user.email "41898282+github-actions[bot]@users.noreply.github.com"

            - name: Bump version (patch)
              id: bump
              run: |
                  NEW_VERSION=$(npm version patch --no-git-tag-version)
                  NEW_VERSION=${NEW_VERSION#v}
                  echo "VERSION=$NEW_VERSION" >> $GITHUB_ENV
                  echo "version without v: $NEW_VERSION"

            - name: Commit version bump
              run: |
                  git add package.json package-lock.json || true
                  git commit -m "chore: bump version to $VERSION" || true
                  git pull --rebase origin main
                  git push origin main

            - name: Delete tag if exists
              run: |
                  git tag -d "v$VERSION" || true
                  git push --delete origin "v$VERSION" || true

            - name: Create and push tag
              run: |
                  git tag "v$VERSION"
                  git push origin "v$VERSION"

            - name: Setup Node for Publish
              uses: actions/setup-node@v4
              with:
                node-version: 20
                registry-url: https://registry.npmjs.org/
                always-auth: true
                token: ${{ secrets.NPM_TOKEN }}
            
            - name: Configure NPM registry & token
              run: |
                  npm config set @naufalhanif:registry https://registry.npmjs.org/
                  npm config set //registry.npmjs.org/:_authToken ${{ secrets.NPM_TOKEN }}

            - name: Check NPM username
              run: npm whoami

            - name: Publish to NPM
              run: npm publish --registry https://registry.npmjs.org/

            - name: Create GitHub Release
              uses: softprops/action-gh-release@v2
              with:
                  tag_name: "v${{ env.VERSION }}"
                  name: "v${{ env.VERSION }}"
                  generate_release_notes: true
